#main-nav {
    height: 80px;
    border-radius: 0;
    margin: 0;
    background-color: darkblue;
}

#logo {
    margin-left: 10px;
}

#secondary-nav {
    border-radius: 0;
    border-top: 1px solid black;
    margin-top: 0;
}